a, h1, h2, body { color: white; }

.highlight
{
    text-align: center;
    font-family: sans-serif;
    text-shadow:
     -1px -1px 0 #000,
      1px -1px 0 #000,
     -1px 1px 0 #000,
      1px 1px 0 #000;
}


.center {
    max-width: 640px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
